.header {
    background-color: green;
    color: white;
    text-align: center;
}
.main {
    background-color: lightgray;
    padding: 1em;
}
body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0;
}